@import 'assets/css/mixin.scss';
@import 'assets/css/transitions.scss';

.chat-wrap {
  .announce-box {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    color: #fff;
    font-size: 26px;
    background: rgba(75, 90, 254, 1);
    border-radius: 4px;
    padding: 0 40px 0 70px;
    overflow: hidden;
    z-index: 5;

    .marquee {
      left: 66px;
      width: auto;
      height: 80px;
      line-height: 80px;
      right: 40px;
      font-size: 28px;
    }

    svg {
      // background: url('~assets/image/auto_wechat.png') no-repeat;
      position: absolute;
      width: 50px;
      height: 50px;
      top: 50%;
      margin-top: -25px;
      left: 10px;
      font-size: 30px;
    }

    .icon-close {
      cursor: pointer;
      position: absolute;
      color: #fff;
      font-size: 30px;
      width: 30px;
      height: 30px;
      right: 10px;
      top: 0px;

      &:hover {
        opacity: 0.8;
      }
    }

    .txt-box {
      height: 80px;
      line-height: 80px;
      overflow: hidden;
      position: relative;
    }

    .txt {
      // position: absolute;
      // white-space: nowrap;
      // animation: marsquee 8s linear 1s infinite;
      // animation-fill-mode: backwards;
    }
  }
}

.bscroll {
  position: relative;
  width: 100%;
  overflow: auto;
  height: 100%;
  -webkit-overflow-scrolling: touch;

  &.vod {
    height: 100%;
  }

  .msg-tips {
    bottom: 10px;
    left: 50%;
    font-size: 26px;
    margin-left: -140px;
    position: absolute;
    width: 280px;
    height: 70px;
    line-height: 68px;
    text-align: center;
    background: rgba(233, 235, 255, 0.9);
    border-radius: 45px;
    border: 1px solid rgba(129, 140, 254, 1);
    color: $color-blue;
    cursor: pointer;

    .icon-xiangxia {
      padding-top: 30px;
      height: 70px;
      line-height: 68px;
      font-size: 30px;
      transform: scale(0.5);
      -webkit-transform-origin: top left;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

@keyframes marsquee {
  0% {
    right: -5px;
    transform: translateX(100%);
  }

  100% {
    right: 100%;
    transform: translateX(-100%);
  }
}

.bscroll-vertical-scrollbar {
  opacity: 1 !important;
}

.chat-wrap /deep/ {
  height: 100%;
  width: 100%;
  position: relative;

  .chat-list {
    // overflow-y: scroll;

    dl {
      position: relative;
      padding: 0px 30px;

      dt {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        float: left;
        background: $color-default;
        margin-right: 12px;
        overflow: hidden;
        border-radius: 200px;
        color: #fff;
        font-weight: bold;

        &.avatar {
          text-align: center;
          line-height: 50px;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }

      dd {
        float: left;
      }

      .name {
        display: block;
        color: $color-font-sub;
        margin-bottom: 8px;
        // width: 240px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 24px;
        color: #888;

        .handle {
          width: 20px;
          height: 20px;
          cursor: pointer;
          display: none;
          font-size: 12px;
          position: absolute;
          top: 5px;
          right: 10px;
          background: url('~assets/image/more-hover.png') no-repeat center;
          background-size: contain;

          ol {
            display: none;
            width: 130px;
            background: rgba(255, 255, 255, 1);
            box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
            border-radius: 4px;
            position: absolute;
            top: 17px;
            right: -10px;
            z-index: 999;
            text-align: center;
            padding: 5px 0;

            li {
              height: 40px;
              line-height: 40px;
              margin-top: 0;

              i {
                width: 20.5px;
                height: 16px;
                display: inline-block;
                // background: url('~assets/image/qq_s.png') no-repeat;
                background: url('~assets/image/chat-kickout.png') no-repeat center;
                background-size: contain;
                margin-right: 10px;
                position: relative;
                top: 2px;

                &.kick {
                  top: 3px;
                }

                &.mute {
                  width: 17.5px;
                  height: 16px;
                }
              }

              &.kick i {}

              &.mute i {
                background-image: url('~assets/image/chat.png');
                top: 5px;
              }

              &:hover {
                color: $color-blue;
                background: rgba(240, 241, 254, 1);

                &.kick i {
                  background-image: url('~assets/image/chat-kickout-hover.png');
                }

                &.mute i {
                  background-image: url('~assets/image/chat-hover.png');
                }
              }
            }
          }

          &:hover {
            ol {
              display: inline-block;
            }
          }
        }

        em {
          display: inline-block;
          //height: 36px;
          padding: 5px 15px;
          font-size: 22px;
          line-height: 30px;
          color: $color-blue;
          background: rgba(240, 241, 254, 1);
          border-radius: 100px;
        }
      }

      .txt {
        padding: 10px 14px;
        color: $color-font;
        background: rgba(239, 239, 239, 1);
        border-radius: 4px;
        max-width: 550px;
        word-break: break-all;
        display: inline-block;
        position: relative;
        text-align: justify;
        img {
          width: 40px;
          height: 40px;
          display: inline-block;
        }
      }

      .txt:before {
        position: absolute;
        content: '';
        width: 7px;
        height: 10px;
        top: 5px;
        left: -4px;
        background: url('~assets/image/msg_icon_other.png') no-repeat center;
        background-size: contain;
      }
    }

    li {
      margin-top: 32px;
    }

    li:not(.right) {
      :hover {
        .handle {
          display: inline-block;
        }
      }
    }

    li.right {
      dt {
        float: right;
        margin-right: 0px;
        margin-left: 12px;
        overflow: hidden;
      }

      dd {
        float: right;
        margin-top: 4px;
      }

      .name {
        width: 100%;
        text-align: right;

        em {
          position: relative;
          top: 0px;
          right: 7px;
          float: left;
          left: 93px;
          top: 3px;
        }
      }

      .txt {
        float: right;
      }

      .txt {
        float: right;
        position: relative;

        &:before {
          position: absolute;
          content: '';
          width: 7px;
          height: 10px;
          top: 5px;
          left: auto;
          right: -4px;
          background: url('~assets/image/msg_icon_self.png') no-repeat center;
          background-size: contain;
        }
      }
    }

    li .sales-tool-box {
      position: relative;
      width: 400px;
      height: 80px;
      background: url('~assets/image/bg_card.png') no-repeat center;
      background-size: contain;
      border-radius: 0px 100px 100px 0px;
      padding: 5px 30px 11px;
      font-size: 16px;
      transition: all 0.3s ease-in-out;
      color: #fff;
      margin-top: 30px;
      margin-left: -1px;

      &::before {
        content: '';
        width: 120px;
        height: 120px;
        position: absolute;
        background: url('~assets/image/tools-chat-card.png') no-repeat center;
        background-size: contain;
        top: -34px;
        right: -20px;
      }

      &:hover {
        box-shadow: 2px 3px 7px #e2e2e2;
        transition: all 0.3s ease-in-out;
      }

      span {
        font-size: 22px;
        color: #fff;
        display: inline-block;
        margin-top: -3px;
      }

      em {
        color: $color-default;
        cursor: pointer;
      }

      &.RED_PACKET_PUSH {
        background-image: url('~assets/image/bg_redpack.png');

        em {
          color: $color-error;
        }

        &::before {
          background-image: url('~assets/image/tools-chat-redpack.png');
        }
      }

      &.GOODS_PUSH {
        background-image: url('~assets/image/bg_good.png');

        em {
          color: $color-default;
        }

        &::before {
          background-image: url('~assets/image/tools-chat-good.png');
          right: -15px;
        }
      }

      &.NAIRE {
        background-image: url('~assets/image/bg_survey.png');

        em {
          color: $color-error;
        }

        &::before {
          background-image: url('~assets/image/tools-chat-ques.png');
        }
      }

      .name {
        width: 270px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        text-align: left;
        font-size: 26px;
      }
    }
  }

  .v-send-box-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9998;
  }

  .send-box {
    margin: 0 auto;
    width: 620px;
    height: 440px;
    position: absolute;
    top: 330px;
    left: 50%;
    margin-left: -310px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    z-index: 9999;

    .top {
      width: 100%;
      height: 80px;
      line-height: 80px;
      background: #efefef;
      padding: 0 36px;
      text-align: center;

      .mute-all {
        position: absolute;
        cursor: pointer;
        right: 60px;
        top: 50%;
        margin-top: -10px;
        width: 20px;
        height: 20px;
        border-radius: 100px;
        background: url('~assets/image/broadcast.png') no-repeat center;
        background-size: contain;

        &:hover {
          background-image: url('~assets/image/broadcast-hover.png');
        }
      }

      .send-btn {
        color: #4b5afe;
        font-size: 28px;
        cursor: pointer;
      }

      .cancel-btn {
        color: #555555;
        font-size: 28px;
        cursor: pointer;
      }

      .v-title {
        color: #222222;
        font-size: 32px;
      }
    }

    .bottom {
      width: 100%;
      height: 360px;
      left: 50%;

      .mute-box {
        cursor: not-allowed;
        line-height: 50px;
        text-align: center;
        width: 100%;
        height: 100%;
      }

      .v-emoji {
        position: absolute;
        left: 30px;
        bottom: 20px;

        .icon-biaoqing {
          vertical-align: middle;
          cursor: pointer;
          display: inline-block;
          color: #888;
          font-size: 36px;
        }

        .icon-swap {
          position: absolute;
          cursor: pointer;
          right: 16px;
          top: 50%;
          margin-top: -10px;
          width: 20px;
          height: 20px;
          border-radius: 100px;
          background: url('~assets/image/broadcast.png') no-repeat center;
          background-size: contain;

          &:hover {
            background-image: url('~assets/image/broadcast-hover.png');
          }
        }

        .face-box {
          -webkit-overflow-scrolling: touch;
          position: absolute;
          bottom: 70px;
          left: -22px;
          width: 620px;
          height: 270px;
          background: #fff;
          z-index: 10;
          overflow-y: scroll;
          padding-top: 10px;
          img {
            width: 48px;
            height: 48px;
            margin: 6px;
            float: left;
            cursor: pointer;
          }
        }
      }
    }

    .inp {
      width: 100%;
      height: 100%;
      padding: 28px 30px 100px;
      border: none;

      textarea {
        border: none;
      }

      .limit {
        bottom: 20px;
        z-index: 9;
        font-size: 28px;
        right: 30px;
      }
    }
  }

  .not-login {
    margin: 0 auto;
    width: 100%;
    position: absolute;
    bottom: 95px;
    left: 0px;
    color: $color-font;

    span {
      color: $color-blue;
      cursor: pointer;
    }
  }
}
