html,
body {
  margin: 0;
  padding: 0;
  width: 750px;
  height: 1334px;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333333;
  font-size: 28px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

table {
  border-collapse: collapse;
  text-align: left;
  padding: 0;
}

i {
  font-style: normal;
}

em {
  font-style: normal;
}

textarea {
  resize: none;
}

ul,
ol {
  list-style: none;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active below version 2.1.8 */

  {
  opacity: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: block;
}

.disabled,
.disabled:hover {
  pointer-events: none;
  opacity: 0.6;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.hide {
  display: none;
}
