/**
 * ****************************************
 * *************** 布局相关尺寸 *************
 * ****************************************
 */
// 页面整理的宽度 是 1200 还是自适应
$site-width: 80%;

/**
 * ****************************************
 * *************** 颜色定义规范 *************
 * ****************************************
 */
// 字体颜色
$color-font:#333;
$color-font-sub:#666;
$color-font-hover:#00FF00;
$color-font-time:#666;


// 颜色定义规范
$color-bg: #fff;
$color-bd: #e5e5e5;

// 常用颜色
$color-error: #ff3333;


/**
 * ****************************************
 * *************** 字体定义规范 ************
 * ****************************************
 */
// 普通屏幕字体大小
$fz-st: 10px;
$fz-sr: 12px;
$fz-sm: 14px;
$fz-md: 16px;
$fz-lg: 18px;
$fz-lr: 22px;
$fz-lt: 36px;


